// CAREBNB TRADEMARK 2020 

$primary-color: rgb(235, 87, 87);
$secondary-color: rgb(11, 19, 42);

$radius-primary: 50px;
$radius-secondary: 20px;

$spacing-regular: 20px;
$spacing-large: 50px;

$font-stack: 'Oxygen', sans-serif;
$font-size: 1em;
$font-light: 300;
$font-bold: 700;
$font-color-primary: rgb(11, 19, 42);
$font-color-secondary: rgb(79, 86, 101);


@mixin cta() {
	border: 1px solid $primary-color;
	border-radius: $radius-primary;
	padding:1em 3em;
	color:$primary-color;
	font-weight: $font-bold;

	&:hover{
		background: $primary-color;
		color: white;
		transition:1s;
	}

}

body{
	
	font-family: $font-stack;
	color: $font-color-primary;
	// line-height: $font-size*3;

	h1{
		font-weight: $font-bold;
		text-align: center;
	}

	h2{
		font-size: $font-size*3;
		font-weight: $font-light;
		display: block;
		text-align: center;
	}

	a{
		text-decoration:none;
		color: $font-color-primary;
	}

	ul,ol{
		list-style:none;
	}

	section{
	}

	// .hero{
	// 	display:flex;
	// 	justify-content:center;
	// 	align-items:flex-end;
	// 	padding-top:120px;
	// }


	header{
		background:url('../img/smartguestbook-hero.jpg');
		background-size: cover;
		background-position: center right;
		text-align:center;
		margin-bottom:100px;
		height: 100vh;

		div{
			padding:40vh 0;
		}

		h1{
			font-size: ($font-size)*4;
			font-weight: $font-light;
			padding-bottom: $spacing-regular;
			color: white;
		}

		h3{
			font-size: ($font-size)*1.7;
			color: white;
		}
	}

	h3{
			color: $font-color-secondary;
			font-weight: $font-light;
			font-size: ($font-size)*1.4;
		}

	.container{
		max-width: 1140px;
		margin:0 auto;
	}

	nav{
		padding-top:10px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}

	.menu{
		padding:0;
		position:fixed;
		z-index:2;
		background:white;
		width:100%;
		height:90px;
		box-shadow: 0 0 20px rgb(0,0,0, 0.1);
		transition: 1s;
	}

	.fullgallery{
		width:100%;
		position:absolute;
	}

	.description{

		display:flex;
		flex-direction:row;
		justify-content: center;
		padding-bottom: $spacing-large*2;

		img{
			border-radius: $radius-secondary;
		}

		h2{


			}

		ul{
			padding-inline-start:0;
			font-size: $font-size*1.5;
			color: $font-color-secondary;
			padding-top:20px;

			li{
				background:url('../img/icon-list.svg') no-repeat 0 8px;
				padding-left:50px;
				padding-bottom:22px;
			}
		}

	}

	.gallery{
		display:flex;
		flex-direction:column;
		text-align:center;
		overflow:hidden;
		::-webkit-scrollbar{
			background: transparent;
		}

		.pictures{
			display:flex;
			overflow-y: scroll;
			padding-top: $spacing-large;

			img{
				border-radius: $radius-secondary;
				margin-right:10px;
				width: 680px;
				height: 453px;
			}	
		}

	}

	.pricing{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: $radius-secondary;
		background: white;
		margin-top: $spacing-large*2;
		box-shadow: 0 -50px 100px rgb(0,0,0, 0.1);	
		height:60px;
		padding:90px 60px;

		p{
			font-size:35px;
			width: 350px;

			span{
				text-decoration: line-through;
			}
		}

		img{
			position: absolute;
			left:50%;
			margin-left:-127px;
		}
	}

	footer{
		display:flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: $spacing-large*3 0 $spacing-large 0;

		a{
			width: 70px;
			margin: 0 auto;
		}
	}

} // end body


.cta{
	@include cta();
}

.cta-secondary{
	@include cta();
	background: $primary-color;
	border-radius: $radius-secondary;
	color: white;
	display:block;
	width:250px;
	margin:0 auto;
	margin-top: $spacing-regular*2.5;

	&:hover{
		transition-timing-function: ease;
		color: $primary-color;
		background: white;
	}
}



@media only screen and (max-width: 1125px){

	body{

		.container{
		padding:0 20px;
		}

		header{
			height: 80vh;
			padding-bottom: 0;
			padding-top: 0;

			div	{
				padding:15vh 10px;
			}

		}

		header h1{
			font-size: $font-size*2.5;
		}
		header h3{
			font-size: $font-size*1.5;
		}

		h2{
			font-size: $font-size*2;
			text-align: center;
		}

		h3{
			font-size: $font-size;
		}

		nav{
			height:auto;
			// justify-content: center;
			align-items: center;
			padding:10px 0;
		}

		nav .cta{
			padding:5px 30px;
			font-weight: $font-light;
			font-size: 14px;
		}

		.menu{
			height: auto;
		}

		.description{
			flex-direction: column;

			ul{

				li{
					font-size:0.8em;
					background:url('../img/icon-list.svg') no-repeat 0 0;
				}

			}

		}

		.gallery{
			display:flex;
			flex-direction:column;
			text-align:center;
			overflow:hidden;
			::-webkit-scrollbar{background: transparent;}

			.pictures{
				display:flex;
				overflow-y: scroll;
				// width: 350px;

				img{
					width: 350px;
					margin-right:5px;
					width: 350px;
					height: 233px;
				}	
			}

		}

		.pricing{
		display:flex;
		flex-direction: column;
		align-items: center;
		margin-top: $spacing-large;
		box-shadow: 0 -50px 100px rgb(0,0,0, 0.1);	
		height:auto;
		position:relative;

			p{
				font-size:30px;
				padding-bottom:300px;
				width:100%;

				span{
					text-decoration: line-through;
				}
			}


			img{
				position: absolute;
				left:50%;
				margin-left:-127px;
				top:240px;
			}
		}

		footer{
			padding: $spacing-large 0 $spacing-large 0;
		}

	}

}