body {
  font-family: "Oxygen", sans-serif;
  color: #0b132a;
}
body h1 {
  font-weight: 700;
  text-align: center;
}
body h2 {
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
}
body .main-title {
  padding: 0px 30px;
  font-weight: 700;
  color: #4f5665;
}
body .no-padding {
  padding: 0;
}
body a {
  text-decoration: none;
  color: #0b132a;
}
body ul, body ol {
  list-style: none;
}
body strong {
  color: #eb5757;
}
body header {
  background: url("../img/smartguestbook-hero.jpg");
  background-size: cover;
  background-position: center right;
  text-align: center;
  margin-bottom: 80px;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(40, 30, 30, 0.6);
}
body header div {
  padding: 40vh 0;
}
body header h1 {
  font-size: 4em;
  font-weight: 300;
  padding-bottom: 20px;
  color: white;
}
body header h3 {
  font-size: 1.7em;
  color: white;
}
body header a {
  display: block;
  width: 50px;
  margin: 0 auto;
}
body header a lottie-player {
  padding-top: 50px;
}
body header strong {
  color: white;
}
body h3 {
  color: #4f5665;
  font-weight: 300;
  font-size: 1.4em;
}
body .container {
  max-width: 1140px;
  margin: 0 auto;
}
body nav {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .menu {
  padding: 0;
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  height: 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
body .fullgallery {
  width: 100%;
  position: absolute;
}
body .description {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  text-align: center;
  padding-bottom: 200px;
}
body .description div {
  align-self: center;
  padding-bottom: 80px;
}
body .description p {
  color: #4f5665;
  font-weight: 300;
  font-size: 1.6em;
}
body .description img {
  border-radius: 20px;
}
body .description h2 {
  padding-top: 30px;
}
body .description h3 {
  font-size: 3em;
  text-align: center;
}
body .description ul {
  padding-inline-start: 0;
  font-size: 1.5em;
  color: #4f5665;
  padding-top: 20px;
}
body .description ul li {
  background: url("../img/icon-list.svg") no-repeat 0 8px;
  padding-left: 50px;
  padding-bottom: 22px;
}
body .gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .pictures {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  flex-wrap: wrap;
}
body .pictures img {
  width: 33.33%;
  border: 1px solid white;
}
body .pictures img:not(:hover) {
  transition: 0.5s ease-in;
}
body .pictures img:hover {
  transform: scale(1.3);
  border-radius: 20px;
  transition: 0.5s ease-in;
  border: 10px solid white;
  cursor: pointer;
  filter: saturate(1);
}
body .pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: white;
  margin-top: 100px;
  box-shadow: 0 -50px 100px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 90px 60px;
}
body .pricing p {
  font-size: 35px;
  width: 350px;
}
body .pricing p span {
  text-decoration: line-through;
}
body .pricing img {
  position: absolute;
  left: 50%;
  margin-left: -127px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 150px 0 50px 0;
}
body footer a {
  width: 70px;
  margin: 0 auto;
}

.cta {
  border: 1px solid #eb5757;
  border-radius: 50px;
  padding: 1em 3em;
  color: #eb5757;
  font-weight: 700;
}
.cta:hover {
  background: #eb5757;
  color: white;
  transition: 1s;
}

.cta-secondary {
  border: 1px solid #eb5757;
  border-radius: 50px;
  padding: 1em 3em;
  color: #eb5757;
  font-weight: 700;
  background: #eb5757;
  border-radius: 20px;
  color: white;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
}
.cta-secondary:hover {
  background: #eb5757;
  color: white;
  transition: 1s;
}
.cta-secondary:hover {
  transition-timing-function: ease;
  color: #eb5757;
  background: white;
}

/*# sourceMappingURL=style.css.map */
