// CAREBNB TRADEMARK 2020 
@import "_variables";

@mixin cta() {
	border: 1px solid $primary-color;
	border-radius: $radius-primary;
	padding:1em 3em;
	color:$primary-color;
	font-weight: $font-bold;

	&:hover{
		background: $primary-color;
		color: white;
		transition:1s;
	}

}

body{
	
	font-family: $font-stack;
	color: $font-color-primary;
	// line-height: $font-size*3;

	h1{
		font-weight: $font-bold;
		text-align: center;
	}

	h2{
		font-size: $font-size*3.5;
		font-weight: $font-light;
		text-align: center;
	}

	.main-title{
		padding: 0px 30px;
		font-weight: $font-bold;
		color: $font-color-secondary;
	}

	.no-padding{
		padding: 0;
	}

	a{
		text-decoration:none;
		color: $font-color-primary;
	}

	ul,ol{
		list-style:none;
	}

	strong{
		color: $primary-color;
	}

	// .hero{
	// 	display:flex;
	// 	justify-content:center;
	// 	align-items:flex-end;
	// 	padding-top:120px;
	// }


	header{
		background:url('../img/smartguestbook-hero.jpg');
		background-size: cover;
		background-position: center right;
		text-align:center;
		margin-bottom:80px;
		height: 100vh;
		box-shadow:inset 0 0 0 2000px rgba(40, 30, 30, 0.6);

		div{
			padding:40vh 0;
		}

		h1{
			font-size: ($font-size)*4;
			font-weight: $font-light;
			padding-bottom: $spacing-regular;
			color: white;
		}

		h3{
			font-size: ($font-size)*1.7;
			color: white;
		}

		a{
			display: block;
			width: 50px;
			margin: 0 auto;

			lottie-player{
				padding-top: 50px;
			}
		}

		strong{
			color: white;
		}
	}

	h3{
			color: $font-color-secondary;
			font-weight: $font-light;
			font-size: ($font-size)*1.4;
		}

	.container{
		max-width: 1140px;
		margin:0 auto;
	}

	nav{
		padding-top:10px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}

	.menu{
		padding:0;
		position:fixed;
		z-index:2;
		background:white;
		width:100%;
		height:90px;
		box-shadow: 0 0 20px rgb(0,0,0, 0.1);
		transition: 1s;
	}

	.fullgallery{
		width:100%;
		position:absolute;
	}

	.description{

		display:flex;
		flex-direction:column;
		// justify-content: center;
		padding-bottom: $spacing-large*2;
		text-align: center;
		padding-bottom: 200px;

		div{
			align-self: center;
			padding-bottom: 80px;
			// max-width:1200px;
		}

		p{
			color: $font-color-secondary;
    		font-weight: 300;
			font-size: $font-size*1.6;
		}

		img{
			border-radius: $radius-secondary;
		}

		h2{
			padding-top: 30px;
			}

		h3{
			font-size:$font-size*3;
			text-align:center;
		}

		ul{
			padding-inline-start:0;
			font-size: $font-size*1.5;
			color: $font-color-secondary;
			padding-top:20px;

			li{
				background:url('../img/icon-list.svg') no-repeat 0 8px;
				padding-left:50px;
				padding-bottom:22px;
			}
		}

	}

	.gallery{
		display:flex;
		flex-direction:column;
		text-align:center;
	}

	.pictures{
		display:flex;
		flex-direction:row;
		padding-top: $spacing-large;
		flex-wrap: wrap;

		img{
			width: 33.33%;
			border:1px solid white;

			&:not( :hover ){
				transition: 0.5s ease-in;
			}

			&:hover{
				transform: scale(1.3);
				border-radius: $radius-secondary;
				transition: 0.5s ease-in;
				border:10px solid white;
				cursor: pointer;
				filter: saturate(1);
			}

			
		}
	}

	.pricing{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: $radius-secondary;
		background: white;
		margin-top: $spacing-large*2;
		box-shadow: 0 -50px 100px rgb(0,0,0, 0.1);	
		height:60px;
		padding:90px 60px;

		p{
			font-size:35px;
			width: 350px;

			span{
				text-decoration: line-through;
			}
		}

		img{
			position: absolute;
			left:50%;
			margin-left:-127px;
		}
	}

	footer{
		display:flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: $spacing-large*3 0 $spacing-large 0;

		a{
			width: 70px;
			margin: 0 auto;
		}
	}

} // end body


.cta{
	@include cta();
}

.cta-secondary{
	@include cta();
	background: $primary-color;
	border-radius: $radius-secondary;
	color: white;
	display:block;
	width:250px;
	margin:0 auto;
	margin-top: $spacing-regular*2.5;

	&:hover{
		transition-timing-function: ease;
		color: $primary-color;
		background: white;
	}
}