$primary-color: rgb(235, 87, 87);
$secondary-color: rgb(11, 19, 42);

$radius-primary: 50px;
$radius-secondary: 20px;

$spacing-regular: 20px;
$spacing-large: 50px;

$font-stack: 'Oxygen', sans-serif;
$font-size: 1em;
$font-light: 300;
$font-bold: 700;
$font-color-primary: rgb(11, 19, 42);
$font-color-secondary: rgb(79, 86, 101);